<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>viewmore</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'kmrc_app\images\bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{% static 'kmrc_app\images\jquery.min.js.download"></script>
	<script src="{% static 'kmrc_app\images\bootstrap.min.js.download"></script>
	<link rel="stylesheet" href="{% static 'kmrc_app\images\font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'kmrc_app\images\font-awesome.min(2).css">
</head>
<body>	

	<div class="row" style="margin-top :0px padding :0px;height: 40px;background-color: #ADD8E6;font-size: 25px;cursor: default;margin-left: 0px;margin-right: 0px;">

    <div class="col-lg-7 col-sm-7" style="margin-top:-12px;font-size:40px;padding-right: 0px;padding-left: 0px;">
      <b style="font-family: verdana;">𝓚𝓜𝓡𝓒</b>
    </div>

    <div class="col-lg-1 col-sm-1" style="margin-top: 9px;font-size:20px;text-align:center;padding-right: 0px;padding-left: 0px;">
      <a href="\kmrc_app"><b style="color: black;">Home</b></a>
    </div>

        <div class="col-lg-1 col-sm-1" style="margin-top: 9px;font-size:20px;text-align:center;padding-left: 0px;padding-right: 0px;">
          <a   href="/kmrc_app/journey">
      <b style="color: black;">Journey</b></a>
    </div>

    <div class="col-lg-1 col-sm-1" style="margin-top: 9px;font-size:20px;text-align:center;padding-left: 0px;padding-right: 0px;">
      <a href="\kmrc_app\aboutus"><b style="color: black;">About</b></a>
    </div>

    <div class="col-lg-1 col-sm-1" style="margin-top: 9px;margin-left: 0px;font-size:20px;text-align:center;padding-left: 0px;padding-right: 0px;">
      <a href="/kmrc_app/help/">
      <b style="color: black;">Help</b></a>
    </div>

    <div class="col-lg-1 col-sm-1" style="margin-top: 9px;font-size:20px;text-align:centerpadding-left: 0px;padding-right: 0px;">
       <a href="/userregister/login"><b style="color: black;">Login</b></a>
       </div>



    </div>
 

<div class="row">
	<div class="col-sm-12 col-lg-12" style="margin-top: 5px;">
	<img src=" {% static 'kmrc_app\images\ic.jpg' %}" style="height:100%; width: 99.99%;" >	
</div>
	
</div>

<div class="row">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px;margin-top: 40px;">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>Daily Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>

</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>5Days Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>Weekly Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>10Days Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px; " >
		<h1>Half-Month Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>Monthly Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>Half-Year Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

<div class="row" style="margin-top: 50px;">

<div class="col-lg-8 col-sm-12" style="height :150px;  background-color :rgb(239,241,243); border: 2px solid black; border-radius: 2px; margin-left: 20px; ">

<div class="row">

	<div class="col-lg-4 col-sm-4" style="height :146px;" >
		<img src=" {% static 'kmrc_app\images\mv.png' %}" style="height:100%" >
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
		<h1>Yearly Pass</h1>
		
	</div>

	<div class="col-lg-4 col-sm-4" style="height :146px; padding-top: 50px;" >
       
       <input type="submit" name="  sign up"  value="Book Now" style="padding-left: 20px; height: 50px;width: 95%; border-radius: 5px; font-size: 25px; background-color:#ADD8E6;; cursor: pointer; color: black;font-family: Georgia;">
	</div>
	
</div>

</div>
</div>

</body>
</html>